#header{
    border-bottom: 3px rgb(37, 34, 34) solid;
    position: absolute;
    width: 100vw;
    top: 0;
    z-index: 999;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgb(226, 223, 223);
}

.closedMenu{
    height:85px;
    transition: height .5s cubic-bezier(1, 0, 0.5, 1);
}

.openMenu{
    height:140px;
    transition: height .5s cubic-bezier(1, 0, 0.5, 1);
}
.openMenuCart{
    height:50vh;
    transition: height .6s cubic-bezier(1, 0, 0.5, 1);
}

#headerTop{
    display: flex;
    justify-content: space-between;
}

#headerTop img{
    height: 55px;
    margin: 15px 35px;
}

#logoBrowse{
    display: flex;
}

#headerTop h2{
    font-weight: 300;
    margin: 25px 35px;
    cursor: pointer;
}

#logoBrowse h2{
    margin: 30px 0px;
    cursor: pointer;
}

#dropDown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    overflow: hidden;
}

#catList{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left:55px;
}

#catList h3{
    font-weight: 200;
    cursor: pointer;
}
#catList h3:hover{
    text-decoration: underline;
}

#dropDown h1{
    margin-right: 31px;
    cursor: pointer;
    padding-top: 10px;
}

#cartDropDown{
    display: flex;
    align-items: center;
    height: 75px;
    overflow: visible;
}

#headerCart{
    display: flex;
    width: 80%;
    height: 100%;
    margin-left:55px;
    /* overflow-x: scroll;
    overflow-y: hidden; */
}

.cartItem{
    display: flex;
    min-width: 18%;
    /* height: 80%; */
    /* background-color: aqua */
}
.cartItem img{
    height: 100%;
}

.cartItemDesc{
    /* margin: 0; */
}
.cartItemDesc h5{
    margin: 2px;
}

@media only screen and (max-width: 600px){
    .openMenu{
        height: 30%;
    }
    #dropDown{
        flex-direction: column;
    }
    #catList{
        width: 80%;
        margin-left:0;
    }
    #dropDown{
        height: 8rem;
        padding-top:2rem;
        background-color: white;
        border-top: none;
    }
    #dropDown h1{
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
}