html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  cursor:default;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height:100vh;
  /* background-color: #EDE3DB; */
}
@media only screen and (max-width: 600px){
  #root {
    /* background-color: #CEB09A; */
  }
}

@media only screen and (max-width: 600px){
  #root{
    align-items: unset;
    padding-top: 20px;
  }
}